<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- namespace : 是接口的名字 -->

<mapper namespace="com.iotek.dao.UserDao">

    <resultMap id="UserMap" type="User">
        <id column="u_id" property="uId"/>
        <result column="u_name" property="uName"/>
        <result column="u_true_name" property="uTrueName"/>
        <result column="u_password" property="uPassword"/>
        <association property="role" javaType="Role">
            <id column="role_id" property="roleId"/>
            <result column="role_name" property="roleName"/>
            <result column="role_desc" property="roleDesc"/>
            <result column="role_state" property="roleState"/>
        </association>
    </resultMap>

    <select id="queryUserByNameAndPassword" parameterType="User" resultMap="UserMap">
        select u.u_id,u.u_name,u.u_true_name,u.u_password,r.role_id,r.role_name,r.role_desc,r.role_state
        from users u , role_info r where u.u_name=#{uName} and u.u_password=#{uPassword} and u.role_id = r.role_id;
    </select>

    <delete id="deleteUserByRoleId" parameterType="Integer">
        delete from users where role_id = #{roleId}
    </delete>

    <select id="queryAllUser" resultMap="UserMap">
        select u_id,u_name,u_true_name,u_password from users;
    </select>

    <select id="queryUserById" resultMap="UserMap" parameterType="integer">
        select u_id,u_name,u_true_name,u_password from users where u_id=#{userId};
    </select>

    <update id="updateUserRole" >
        update user set role_id = #{roleId} where u_id=#{userId}

    </update>


</mapper>